<div class="pt-10 bg-faint">
    <div class="container">
        <div class="col-12 mx-auto col-sm-10 col-md-8 col-lg-8 text-center">
            <h4 class="fs-1 fw-bold mb-8 text-brand">who we are</h4>
            <!-- Stats-->
            <!-- {{> widgets/stats }} -->
            <!-- / Stats-->
            <p class="mb-4 lead">At <span class="fw-bold">Rapid Response Flood Restoration</span>, we are committed to providing our customers with high-quality flood restoration services. We have been serving the high desert area for over a decade, and our reputation speaks for itself. 
                Our team of dedicated professionals are available 24/7 to respond to any emergency situation. 
                Whether you’re dealing with a minor flood or a major catastrophe, we have the knowledge and expertise to get the job done right. 
                Contact us today for all your flood restoration needs.</p>
            <a href="{{webRoot}}/about.html" class="btn btn-brand text-white mt-4">Find out more</a>
            
        </div>
    </div>
    <div class="position-relative mt-10">
        <picture class="d-table mx-auto mt-n5 mb-5 col-12 col-sm-10 position-relative z-index-20">
            <img class="about-company d-table mx-auto" src="{{webRoot}}/assets/images/vans5.png"
                alt="{{ config.defaultImgAlt }}">
        </picture>

    </div>
</div>


