<div class="bg-dark py-8">
    <div class="container py-6">
        <!-- {{# if (config integrations)}} -->
            <!-- <p class="mb-0 text-center small fw-bolder tracking-wider text-uppercase text-orange">Tools and Equipment</p> -->
            
            <div><h3 class="text-white text-center mt-3 fs-1 mb-3 fw-bold">our tools and equipment</h3></div>
            <!-- <p class="text-white opacity-50 text-center">Check out some of our guides here to help you in the process</p> -->

            <div class="row gy-7 mt-4 d-flex justify-content-center">
                <div class="col-6 col-md-5 col-xl-6 d-flex align-items-center mt-0">
                    <picture class="d-block d-flex ">
                        <img class="img-fluid" src="{{webRoot}}/assets/images/RRFRestoration_equipment.png"
                            alt="Restoration and Remediation Equipment and Tools">
                    </picture>
                </div>
                <div class="equipment-text col-12 col-sm-12 col-lg-5 d-flex justify-content-start flex-column ms-lg-8">
                    <p class="text-white fs-5">
                        We have a wide range of tools and equipment at our disposal. Some of the most advanced together with the use of cutting-edge technology we are able to get work done efficiently within a set timeframe. And not just that. We quality-check every work we do, for instance, with the use of tools like 
                        thermal detectors, moisture readers, and air-purity checks. So that when we leave after work is completed, you can be guaranteed of a healthy space either it be your home or a commercial structure. 
                    </p>
                    <p class="text-white fs-5">
                        Together within our arsenal, we have skilled technicicans who are industry certified to perform, to our clients satisfaction no matter how complex or how big or small a task may be
                    </p>

                </div>

            </div>
                
            <!-- <a class="btn btn-white d-table mx-auto mt-7 w-100 w-md-auto text-brand" href="#">More about our processes</a> -->
        <!-- {{/if}} -->

    </div>
</div>