<div class="accordion" id="accordionFaq">
    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
          <span class="me-4">Q1:</span> What types of disasters or damages do restoration services cover?
        </button>
      </h2>
      <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Restoration services can address a wide range of damages, including fire and smoke damage, water damage, flood damage, mold infestations, storm damage, and more.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
          <span class="me-4">Q2:</span> How quickly can a restoration team respond to an emergency?
        </button>
      </h2>
      <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Response times can vary, but reputable restoration services often provide 24/7 emergency response. And here at Rapid Response Flood Restoration, we do that. Our goal is to be on-site promptly to mitigate further damage.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
          <span class="me-4">Q3:</span> Will my insurance cover the cost of restoration services?
        </button>
      </h2>
      <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Insurance coverage depends on the policy and the cause of the damage. We work closely with all insurance companies and can help navigate the claims process.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
          <span class="me-4">Q4:</span> How long does the restoration process take?
        </button>
      </h2>
      <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          The duration of the restoration process varies based on the extent and type of damage. A professional and detailed assessment is usually needed to provide an accurate estimate of the timeline.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
          <span class="me-4">Q5:</span> Do I need to evacuate my property during the restoration process?
        </button>
      </h2>
      <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          In some cases, occupants may need to temporarily evacuate during restoration, especially if there are safety concerns. At Rapid Response Flood Restoration, we prioritize safety and communicate evacuation plans as needed, during restoration.
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
          <span class="me-4">Q6:</span> Can restoration services prevent future issues like mold growth or water damage?
        </button>
      </h2>
      <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Yes, part of the restoration process involves addressing the root cause of the damage to prevent future issues. This may include fixing leaks, faulty pipes, improving ventilation, or implementing and/or putting preventative measures in place.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="faq7">
          <span class="me-4">Q7:</span> How do restoration professionals handle belongings and personal items during the restoration process?
        </button>
      </h2>
      <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          We provide content restoration, including cleaning and salvaging personal items affected by the damage. Some items may need to be temporarily relocated during the restoration process.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false" aria-controls="faq8">
          <span class="me-4">Q8:</span> Are there potential health risks associated with mold during restoration?
        </button>
      </h2>
      <div id="faq8" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Mold removal is conducted with safety in mind. At Rapid Response Flood Restoration, we use protective gear and follow industry standards to minimize health risks during mold remediation.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="false" aria-controls="faq9">
          <span class="me-4">Q9:</span> How are costs determined for restoration services?
        </button>
      </h2>
      <div id="faq9" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          Costs are typically determined based on the extent of the damage, the type of restoration needed, and the materials and labor required. We provide detailed estimates in this area.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header border-bottom">
        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="false" aria-controls="faq10">
          <span class="me-4">Q10:</span> Can I prevent the need for restoration services in the future?
        </button>
      </h2>
      <div id="faq10" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
        <div class="accordion-body text-brand">
          While some incidents are unavoidable, preventive measures such as regular maintenance, proper drainage, and addressing issues promptly can help reduce the likelihood of severe damage.
        </div>
      </div>
    </div>

  </div>
