        <!-- Swiper -->
        <div class="outer-swiper-div bg-white pb-6 mb-4">
            <div class="container d-sm-flex d-md-flex d-lg-block pt-0">
                <div class="swiper " data-swiper='{
                    "slidesPerView": 1,
                    "pauseOnMouseEnter": true,
                    "spaceBetween": 10,
                    "effect": "coverflow",
                    "pagination": {
                        "el": ".swiper-pagination"
                    },
                    "autoplay": {
                        "delay": 8000
                    } 
                }
                '>
                    <div class="swiper-wrapper text-body mt-7">
                        <div class="swiper-slide align-items-center align-items-lg-start">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-sm-start text-lg-start pe-5 mx-2">
                                <h2 class="display-3 d-block d-sm-center fw-bold mb-4 text-tango">Damages to your home from floods or a broken pipe?</h2>
                                <h3 class="d-none d-sm-start d-lg-block fs-5 text-muted fw-light lh-base">We're here to help! A trusted partner in all forms of home restoration services including commercial structures, from flooding to fire, smoke and mold damages. We'll work with you hand-in-hand through till completion</h3>
                            </div>
                            <div class="col-6 d-none d-md-flex d-lg-block">
                                <img class="img-fluid rounded-3 shadow-lg" src="{{webRoot}}/assets/images/slides/submerged-water2.jpg"
                                    alt="Water Leak Flood Restoration services">
                            </div>
                        </div>
                        <div class="swiper-slide align-items-center align-items-lg-start">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-sm-start text-lg-start pe-5 mx-2">
                                <h2 class="display-3 text-sm-start fw-bold mb-4 text-primary">Home damage from Fire or Smoke infiltration?</h2>
                                <h3 class="d-none d-sm-flex d-lg-block fs-5 text-muted fw-light lh-base">Let us know. Our certified team is readily available 24/7 and just a call away</h3>
                            </div>
                            <div class="col-6 d-none d-md-flex d-lg-block">
                                <img class="img-fluid rounded-3 shadow-lg" src="{{webRoot}}/assets/images/slides/devastated.jpg"
                                    alt="Fire Smoke Restoration services">
                            </div>                            
                        </div>
                        <div class="swiper-slide align-items-center align-items-lg-start">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-sm-start text-lg-start pe-5 mx-2">
                                <h2 class="display-3 fw-bold mb-4 text-body">Structural damage and contamination from mold build up?</h2>
                                <h3 class="d-none d-sm-flex d-lg-block fs-5 text-muted fw-light lh-base">We'll make sure they do not grow back again. We've got a team of skilled experts to get to work right away</h3>
                            </div> 
                            <div class="col-6 d-none d-md-flex d-lg-block">
                                <img class="img-fluid rounded-3 shadow-lg" height="100vh" max-width="100%"
                                    src="{{webRoot}}/assets/images/slides/restore-services6.jpg"
                                    alt="Mold Fungi Decay Remediation Restoration services">
                            </div>
                        </div>
                        <div class="swiper-slide align-items-center align-items-lg-start">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-sm-start text-lg-start pe-5 mx-2">
                                <h2 class="display-3 fw-bold mb-4 text-darklime">Questions about Insurance? We work with all providers</h2>
                                <h3 class="d-none d-sm-flex d-lg-block fs-5 text-muted fw-light lh-base">to make sure you get the help you need right away</h3>
                            </div>
                            <div class="col-6 d-none d-md-flex d-lg-block">
                                <img class="img-fluid rounded-3 shadow-lg" src="{{webRoot}}/assets/images/slides/insurance_companies.jpg"
                                    alt="We work with all insurance companies dealing with Restoration services across California">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination mt-n3 mb-5"></div>
                </div>
            </div>    
        </div>
