<ul class="navbar-nav ms-n2">
    <li class="nav-item position-static dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
        </a>
        <!-- Services dropdown menu -->
        <div class="dropdown-menu dropdown-megamenu">
            <div class="container">
                <!-- Dropdown Menu Links -->
                {{> navbar/dropdown-links }}
                <!-- /Dropdown Menu Links -->
            </div>
        </div>
        <!-- /Services dropdown menu -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/insurance.html">Insurance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact.html">Contact</a>
    </li>
</ul>