<head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta name="csrf_token" content="{{ token }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Rapid Response Flood Restoration">
    <meta name="keywords" content="{{ keywords }} near me"> 
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/images/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{#if home }}
        <link rel="canonical" href="https://www.rapidresponseflood.com" />
    {{/if}}

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/libs.bundle.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/theme.bundle.css" />

    <title>{{ title }} Rapid Response | Water Flood Mold and Fire Smoke Restoration Professionals</title>

    <meta property="og:title" content=" Rapid Response Flood Restoration">
    <meta property="og:description"
        content="At Rapid Response Flood Restoration, we are committed to providing customers with high-quality flood
                    restoration, mold damage, fire damage and emergency repair restoration services across Victorville, Inland Empire and California">
    <meta property="og:image" content="https://www.rapidresponseflood.com/og-image.png">
    <meta property="og:url" content="https://www.rapidresponseflood.com">
    
    <script type="application/ld+json" class="schemantra">
                    {
                        "@context": "https://schema.org",
                        "@type": "ProfessionalService",
                        "@id": "ProfessionalService",
                        "actionableFeedbackPolicy": "[www.rapidresponseflood.com]",
                        "address": "[15786 Wyburn Ln, Victorville, CA 92394,15786 Wyburn Ln, Victorville, CA 92394]",
                        "alternateName": "Rapid Response Flood",
                        "areaServed": "Victorville, CA",
                        "award": "IICRC",
                        "description": "At Rapid Response Flood Restoration, we are committed to providing our customers with high-quality flood, mold and fire restoration services",
                        "email": "rapidresponsehd@gmail.com",
                        "knowsAbout": "Water Damage Restoration",
                        "knowsLanguage": "English",
                        "location": "Victorville, CA",
                        "logo": "https://www.rapidresponseflood.com/assets/images/logo_crest.png"
                    }
                    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MP9WKZ5T');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQ386KMLLS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date()); gtag('config', 'G-JQ386KMLLS');
    </script>
    <!-- /Google tag (gtag.js) -->

    <!-- End Google Tag Manager  -->

</head>