<!-- Footer-->
<footer class="bg-dark pt-10 pb-8 {{configClassList}} {{classList}}">

    <div class="container">
        <div class="pb-7">
            <div class="col-12 col-md-8 col-lg-12 d-flex mx-auto flex-column align-items-center justify-content-center">
                <ul class="d-flex text-muted" style="list-style-type: none;">
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/los-angeles.html" data-seo="Los Angeles, CA Water, Fire, Mold Restoration Services">Los Angeles</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/san-diego.html" data-seo="San Diego, CA Water, Fire, Mold Restoration Services">San Diego</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/orange.html" data-seo="Orange, CA Water, Fire, Mold Restoration Services">Orange County</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/riverside.html" data-seo="Riverside, CA Water, Fire, Mold Restoration Services">Riverside</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/ontario.html" data-seo="Ontario, CA Water, Fire, Mold Restoration Services">Ontario</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/san-bernardino.html" data-seo="San Bernardino, CA Water, Fire, Mold Restoration Services">San Bernardino</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/victorville/" data-seo="Victorville, CA Water, Fire, Mold Restoration Services">Victorville</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/bakersfield.html" data-seo="Bakersfield, CA Water, Fire, Mold Restoration Services">Bakersfield</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/apple-valley.html" data-seo="Apple Valley, CA Water, Fire, Mold Restoration Services">Apple Valley</a></li>
                </ul>
                <ul class="d-flex text-muted" style="list-style-type: none;">
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/barstow.html" data-seo="Barstow, CA Water, Fire, Mold Restoration Services">Barstow</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/hesperia.html" data-seo="Hesperia, CA Water, Fire, Mold Restoration Services">Hesperia</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/yucca-valley.html" data-seo="Yucca Valley, CA Water, Fire, Mold Restoration Services">Yucca Valley</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/palm-desert.html" data-seo="Palm Desert, CA Water, Fire, Mold Restoration Services">Palm Desert</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/rialto.html" data-seo="Rialto, CA Water, Fire, Mold Restoration Services">Rialto</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/fontana.html" data-seo="Fontana, CA Water, Fire, Mold Restoration Services">Fontana</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/palmdale.html" data-seo="Palmdale, CA Water, Fire, Mold Restoration Services">Palmdale</a></li>
                    <li class="px-3"> <a class="text-muted transition-opacity opacity-50-hover text-decoration-none"
                            href="/region/lancaster.html" data-seo="Lancaster, CA Water, Fire, Mold Restoration Services">Lancaster</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="border-bottom border-white-10 pb-7">
            <div class="col-12 col-md-8 col-lg-12 d-flex mx-auto flex-column align-items-center justify-content-center">
                <h3 class="fs-2 fw-bold text-white text-center">Give us a call if you need help right away. We're available
                    24/7</h3>
                <a class="btn btn-primary mt-3 w-100 w-md-auto" href="#" role="button">855-47-RAPID</a>
                </div>
                </div>
                </div>


    <!-- Footer Menus-->
        <div class="container pt-7">
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">

                <!-- Footer Logo-->
                <a class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0"
                    href="#">
                    <span class="f-w-7 d-block text-success me-8">
                        <picture>
                        <img class="" src="/assets/images/logo_crest_blkbg1.png"
                            alt="Rapid Response, Water Flood, Mold and Fire Damage Restoration">
                        </picture>
                    </span>
                    <span>Rapid Response Flood Restoration</span>
                </a> 
                <!-- /Footer Logo-->

                <!-- Footer socials-->
                <ul class="list-unstyled d-flex align-items-center justify-content-end">
                    <li class="ms-5"><a class="text-white text-decoration-none opacity-50-hover transition-opacity" href="https://www.facebook.com/people/Rapid-Response-Flood-Restoration/100094565499687/" target="_blank"><i class="ri-facebook-circle-line ri-lg"></i></a></li>
                    <li class="ms-5"><a class="text-white text-decoration-none opacity-50-hover transition-opacity" href="https://x.com/FloodRapidResp" target="_blank"><i class="ri-twitter-line ri-lg"></i></a></li>
                    <li class="ms-5"><a class="text-white text-decoration-none opacity-50-hover transition-opacity" href="https://www.instagram.com/rapidresponseflood.social/" target="_blank"><i class="ri-instagram-line ri-lg"></i></a></li>
                    <li class="ms-5"><a class="text-white text-decoration-none opacity-50-hover transition-opacity" href="https://www.facebook.com/people/Rapid-Response-Flood-Restoration/100094565499687/" target="_blank"><i class="ri-focus-2-line ri-lg"></i></a></li>
                </ul>
                <!-- Footer socials-->
                
            </div>
        </div>

        <div class="container">

            <div class="d-flex flex-wrap justify-content-between mt-5 mt-lg-7">

                <!-- Menu One -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                    <!-- <span class="badge bg-danger">new</span> -->
                    <h6 class="footer-heading">Services</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="{{webRoot}}/flood-restoration.html">Flood Restoration</a></li>
                        <li><a href="{{webRoot}}/fire-restoration.html">Fire, Smoke Restoration</a></li>
                        <li><a href="{{webRoot}}/mold-restoration.html">Mold Restoration</a></li>
                        <li><a href="{{webRoot}}/emergency-services.html">Emergency Services</a></li>
                        <li><a href="{{webRoot}}/commercial-restoration.html">Commercial Restoration</a></li>
                        <li><a href="{{webRoot}}/residential-restoration.html">Residential Restoration</a></li>
                    </ul>

                </div>
                <!-- /Menu One -->

                <!-- Menu Two -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">

                    <h6 class="footer-heading">Company</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="{{webRoot}}/about.html">About us</a></li>
                        <li><a href="#">Our core values</a></li>
                        <li><a href="{{webRoot}}/contact.html">Join our team</a></li>
                        <li><a href="{{webRoot}}/blog/rising-above-the-waters.html">Blogs</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>    

                </div>
                <!-- /Menu Two -->

                <!-- Menu Three -->
                <!-- <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">

                    <h6 class="footer-heading">Navigation</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="#">Start free trial</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Help & support</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Forgotten password</a></li>
                    </ul>

                </div> -->
                <!-- /Menu Three -->

                <!-- Menu Four -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">

                    <h6 class="footer-heading">Legals</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">Cookie policy</a></li>
                    </ul>

                </div>
                <!-- /Menu Four -->

            </div>

        </div>

    <!-- Footer Menus-->

    <!-- Footer bottom-->

    <div class="container">
        <div class="border-top pt-6 mt-7 border-white-10 d-flex flex-column flex-md-row justify-content-between align-items-center">

            <span class="small text-white opacity-50 mb-2 mb-md-0">All rights reserved &copy Rapid Response Flood Restoration 2024</span>
            <span class="small text-white opacity-50">Terms of service  |  Security policy</span>
        
        </div>
    </div>

    <!-- Footer bottom-->

</footer>
<!-- / Footer-->

<!-- Additional imports (modals, offcanvas)-->
{{> footer/imports }}
<!-- / Additional imports-->